energia
https://www.kaggle.com/datasets/akhiljethwa/world-energy-statistics


---


poluição
https://www.kaggle.com/datasets/hasibalmuzdadid/global-air-pollution-dataset


---


sobre as unidades de medida 
https://www.bing.com/search?q=o+que+%C3%A9+a+unidade+quad&cvid=cbb0abeb3b694747a40c542d249ed506&aqs=edge..69i57.5342j0j9&FORM=ANAB01&PC=W099


---


acho que da pra converter aqui (porque os valores estão em medida britancia. sla.. quad)
https://www.convertworld.com/pt/energia/unidade-termica-britanica.html


---


ggraficos 
https://www.delftstack.com/pt/api/python-pandas/pandas-dataframe-dataframe.plot.bar-function/
https://www.kaggle.com/code/hanzla121/energy-in-flux-comparative-analysis
https://dadosaocubo.com/visualizacao-de-dados-com-matplotlib-python/
https://www.kaggle.com/code/hanzla121/energy-in-flux-comparative-analysis

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

aula de pandas

https://www.youtube.com/watch?v=wnGsAOPKjLo   

https://www.kaggle.com/code/joaoavf/introducao-a-analise-de-dados-python-e-pandas#Visualizando-Categorias


documentação

https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset

# Bases de dados sobre a produção e consumo de energia

In [ ]:
import pandas as pd

#para tratamento de graficos 
import matplotlib.pyplot as plt

1. Ler o arquivo no drive
2. converte as coluas dos anos para float 
3. mostra ordenado pelo consumo total do menor para o maior 
4. agrupa por continente e mostra o total por cada continente

In [ ]:
#mostrar informações
#display(dataconsu.info())

#mostrar tudo
#display(dataconsu)

In [ ]:
dataconsu = pd.read_csv('/content/drive/MyDrive/DataSets/Consumo_Total.csv')
dataprodu = pd.read_csv('/content/drive/MyDrive/DataSets/Producao_Total.csv')


dataconsu = dataconsu[["Continent","Country","2010", "2011","2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019","2020", "2021","Total_Consumption"]]
dataprodu = dataprodu[["Continent","Country","2010", "2011","2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019","2020", "2021","Total_production"]]
dataconsu = dataconsu.sort_values(by='Country')
dataprodu = dataprodu.sort_values(by='Country')


converterprod  =["2010", "2011","2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019","2020", "2021","Total_production"]
converterconsu =["2010", "2011","2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019","2020", "2021","Total_Consumption"]

#converte as coluans acima em float 
dataconsu[converterconsu] = dataconsu[converterconsu].replace(['--','---','in'], ['0', '0','0'])
dataprodu[converterprod] = dataprodu[converterprod].replace(['--','---','in'], ['0', '0','0'])
dataconsu[converterconsu] = dataconsu[converterconsu].astype(float, errors = 'raise')
dataprodu[converterprod] = dataprodu[converterprod].astype(float, errors = 'raise')



display(dataconsu)
display(dataprodu)

In [ ]:

#CONSUMO
# ordenar por valor de consumo total, crescente
display(dataconsu.sort_values(by='Total_Consumption'))


# agrupar consumo total por continente e mostrar
agrconsu =['Total_Consumption','Continent']
mostraconsu = dataconsu[agrconsu].groupby('Continent').sum()
display(mostraconsu.sort_values(by='Total_Consumption'))

In [ ]:
#PRODUCAO

# ordenar por valor de produção total, crescente
display(dataprodu.sort_values(by='Total_production'))

# agrupar producao total por continente e mostrar  
agrprod =['Total_production','Continent']
mostraprod = dataprodu[agrprod].groupby('Continent').sum()
display(mostraprod.sort_values(by='Total_production'))

In [ ]:
dataframe = pd.DataFrame(mostraconsu.sort_values(by='Continent'))
axis = dataframe.plot.bar( rot=90, color=['g'])
print(axis)
plt.show()

In [ ]:
dataframe = pd.DataFrame(mostraprod.sort_values(by='Continent'))
axis = dataframe.plot.bar( rot=9, color=['g'])
print(axis)
plt.show()

In [ ]:
#filtrar por string
display(dataprodu.query('Country.str.contains("Argentina") | Country.str.contains("Bolivia")| \
                         Country.str.contains("Brazil") | Country.str.contains("Chile")| \
                         Country.str.contains("Colombia") | Country.str.contains("Ecuador")|\
                         Country.str.contains("Suriname") | Country.str.contains("Venezuela")|\
                         Country.str.contains("French Guiana") | Country.str.contains("Guyana")|\
                         Country.str.contains("Uruguay") | Country.str.contains("Paraguay") | Country.str.contains("Peru")'))

# Base de dados sobre a poluição

In [ ]:
# TESTE DA BASE AMBIENTAL POLUIÇÃO
#https://www.kaggle.com/datasets/justin2028/total-emissions-per-country-2000-2020
#https://www.kaggle.com/code/victorvieirat/eda-total-emissions-per-country-2000-2020 notbook

# esse da pra usar como 
datapopu = pd.read_csv('/content/Total Emissions Per Country (2000-2020).csv')
display(datapopu.info())
agrup = datapopu[['Element','2015']].groupby("Element").sum()

datapopu = datapopu[["Area", "Item" , "Unit" ,"2015", "2016", "2017", "2018", "2019","2020"]].query(\
                        'Area.str.contains("Argentina") | Area.str.contains("Bolivia")| \
                         Area.str.contains("Brazil") | Area.str.contains("Chile")| \
                         Area.str.contains("Colombia") | Area.str.contains("Ecuador")|\
                         Area.str.contains("Suriname") | Area.str.contains("Venezuela")|\
                         Area.str.contains("French Guiana") | Area.str.contains("Guyana")|\
                         Area.str.contains("Uruguay") | Area.str.contains("Paraguay") | Area.str.contains("Peru")')


display(datapopu)



display(agrup)